<!DOCTYPE html>
    {% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'home/assets/img/managemelogo.svg' %}" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'home/assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'dash/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dash/assets/css/style.min.css' %}">


        <title>ManageMe</title>
    </head>
    <body>

        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">

                    <img src="{% static 'home/assets/img/managemelogo.svg' %}" class="image1" alt="" height="150px" width="150px" />
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'home' %}" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="#products" class="nav__link">Products</a>
                        </li>
                        <li class="nav__item">
                            <a href="#faqs" class="nav__link">FAQs</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contact" class="nav__link">Contact Us</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'sign_in' %}" class="nav__link">Login</a>
                        </li>

                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class="ri-moon-line change-theme" id="theme-button"></i>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock %}


        <a href="" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-fill scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="{% static 'home/assets/js/scrollreveal.min.js' %}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'home/assets/js/main.js' %}"></script>
        <script src="{% static 'dash/assets/bundles/libscripts.bundle.js' %}"></script>
        <script src="{% static 'dash/assets/bundles/vendorscripts.bundle.js' %}"></script>
    </body>
</html>
