{% extends 'dashboard-tenant/dashboard.html' %}
{% load static %}

{% block content %}

<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Notification list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'tenant' %}"><i class="zmdi zmdi-home"></i> Home</a></li>
                        <li class="breadcrumb-item">Notification</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                    <button class="btn btn-success btn-icon float-right" type="button"><i class="zmdi zmdi-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="table-responsive">
                            <table class="table table-hover c_table theme-color">
                                <thead>
                                    <tr>
                                        <th style="width:50px;">Name</th>
                                        <th></th>
                                        <th class="hidden-md-down">Property Name</th>

                                        <th class="" width="150px">Response</th>
                                        <th class="hidden-md-down">Property Status</th>

                                        <th class="hidden-md-down">Due Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for notification_tenant in notification_tenant %}

                                    <a href="">
                                            <tr>

                                                <td>
                                                    <img class="rounded avatar" src="{{ notification_tenant.property_requested.owner_name.user_image.url }}" alt="">
                                                </td>
                                                <td>
                                                    <a class="single-user-name" href="javascript:void(0);">{{notification_tenant.property_requested.owner_name}}</a><br>
                                                    <small>{{notification_tenant.property_requested.user_login}}</small>
                                                </td>
                                                <td class="hidden-md-down">
                                                    <strong>{{notification_tenant.property_requested.property_name}}</strong><br>
                                                    <small>Cost: {{notification_tenant.property_requested.amount_per_month}} Frw</small>
                                                </td>
                                                {% if notification_tenant.status_view == 'approved' %}

                                                <td class="">
                                                    <span class="badge badge-success">Approved</span>
                                                </td>
                                                {% elif notification_tenant.status_view == 'denied' %}
                                                <td class="">
                                                    <span class="badge badge-danger">Denied</span>
                                                </td>
                                                {% else %}
                                                <td class="">
                                                    <span class="badge badge-info">Initial</span>
                                                </td>
                                                {% endif %}
                                                <td class="hidden-md-down"><span class="badge badge-success">Available</span></td>

                                                <td class="hidden-md-down" >{{notification_tenant.time_done}}</td>
                                            </tr>
                                    </a>

                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-primary mt-4">
                            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}