{% extends 'dashboard-tenant/dashboard.html' %}
{% load static %}

{% block content %}

<section class="content file_manager">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>View House</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'tenant' %}"><i class="zmdi zmdi-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="">View House</a></li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="tab-content">
                            <div class="tab-pane active" id="a2018">
                                <div class="row clearfix">
                                    {% for house_approved in house_approved %}
                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                        <div class="card">
                                            <a href="" class="file">
                                                <div class="hover">
                                                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </div>
                                                <div class="image">
                                                    <a href=""><img src="{{ house_approved.property_requested.property_image.url }}" alt="img" class="img-fluid" ></a>
                                                </div>
                                                <div class="file-name">
                                                    <p class="m-b-5 text-muted">{{ house_approved.property_requested.property_name }}</p>
                                                    <p class="m-b-5 text-muted">Lessor Name: {{ house_approved.property_requested.owner_name }}</p>
                                                    <small>Posted : <span class="date"><b>  {{house_approved.property_requested.time_added}}</b></span></small>
                                                </div>
                                                <div class="action">
                                                        <a href="{% url 'view_rent_house_detail' house_approved.id %}" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                                        <a href="{% url 'view_rent_house_detail' house_approved.id %}" class="btn btn-primary waves-effect">View More</a>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    {% endfor %}




                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}