{% extends 'dashboard-owner/dashboard.html' %}

{% load static %}
{% block content %}



<section class="content">
    <div class="body_scroll">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">


                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="blogitem mb-5">
                            <div class="blogitem-image">
                                <a href="{% url 'view_car' %}"><img src="{% static 'dash/assets/images/image-gallery/car.png' %}" alt="blog image" ></a>

                            </div>
                            <div class="blogitem-content">
                                <div class="blogitem-header">
                                        <div class="container">
                                            <h5>Total: {{property_car}}</h5>
                                        <h5>Used: {{used_car}}</h5>
                                        </div>
                                </div>
                                <h5><a href="blog-details.html">Property Name: Car</a></h5>
                                <p>It is a long established .</p>
                                <a href="{% url 'view_car' %}" class="btn btn-info">View More</a>
                            </div>
                        </div>
                        <div class="blogitem mb-5">
                            <div class="blogitem-image">
                                <a href="{% url 'view_house' %}"><img src="{% static 'dash/assets/images/image-gallery/house.jpg' %}" alt="blog image"></a>

                            </div>
                            <div class="blogitem-content">
                                <div class="blogitem-header">
                                    <div class="container">
                                            <h5>Total: {{property_house}}</h5>
                                        <h5>Used: {{used_house}}</h5>
                                        </div>
                                </div>
                                <h5><a href="blog-details.html">Property Name: House</a></h5>
                                <p>It is a long established .</p>
                                <a href="{% url 'view_house' %}" class="btn btn-info">View More</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="blogitem mb-5">
                            <div class="blogitem-image">
                                <a href="{% url 'view_others' %}"><img src="{% static 'dash/assets/images/image-gallery/other.jpg' %}" alt="blog image"></a>

                            </div>
                            <div class="blogitem-content">
                                <div class="blogitem-header">
                                        <div class="container">
                                            <h5>Total: {{property_other}}</h5>
                                        <h5>Used: {{used_other}}</h5>
                                        </div>
                                </div>
                                <h5><a href="blog-details.html">Property Name: Others</a></h5>
                                <p>It is a long established .</p>
                                <a href="{% url 'view_others' %}" class="btn btn-info">View More</a>
                            </div>
                        </div>
                        <div class="blogitem mb-5">
                            <div class="blogitem-image">
                                <a href="{% url 'view_land' %}"><img src="{% static 'dash/assets/images/image-gallery/lan.jpg' %}" alt="blog image"></a>

                            </div>
                            <div class="blogitem-content">
                                <div class="blogitem-header">
<!--                                    card area for detail-->
                                    <div class="container">
                                        <h5>Total: {{property_land}}</h5>
                                        <h5>Used: {{used_land}}</h5>
                                    </div>
                                </div>
                                <h5><a href="blog-details.html">Property Name: Lands</a></h5>
<!--                                <p>It is a long established .</p>-->
                                <a href="{% url 'view_land' %}" class="btn btn-info">View More</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}