{% extends 'dashboard-owner/dashboard.html' %}

{% load static %}
{% block content %}
<section class="content file_manager">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>View Car</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="zmdi zmdi-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="">View Car</a></li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                    <button class="btn btn-success btn-icon float-right" type="button"><i class="zmdi zmdi-upload"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="tab-content">
                            <div class="tab-pane active" id="a2018">
                                <div class="row clearfix">
                                    {% for car in car_detail %}
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="card">
                                            <a href="" class="file">
                                                <div class="hover">
                                                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </div>
                                                <div class="image">
                                                    <a href="{% url 'view_property_detail' car.id %}"><img src="{{ car.property_image.url }}" alt="img" class="img-fluid" width="350" height="350"></a>
                                                </div>
                                                <div class="file-name">
                                                    <p class="m-b-5 text-muted">{{ car.property_name }}</p>
                                                    <small>Posted : <span class="date"><b>  {{car.time_added}}</b></span></small>
                                                </div>
                                                <div class="action">
                                                        <a href="{% url 'view_property_detail' car.id %}" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                                        <a href="{% url 'view_property_detail' car.id %}" class="btn btn-primary waves-effect">View More</a>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    {% endfor %}




                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}